[Desktop Entry]
Name[es]=Authenticator
Name[fr]=Authentificateur
Name=Authenticator
GenericName=Two-factor Authentication
Comment=A Two-Factor Authentication application
Type=Application
Exec=authenticator
Terminal=false
Categories=GNOME;GTK;Security;Utility;
Keywords[es]=Gnome;GTK;Autenticación;Verificación;2FA;Factores;Pasos;
Keywords=Gnome;GTK;Verification;2FA;Authentication;TwoFactor;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.github.bilelmoussaoui.Authenticator
StartupNotify=true
StartupWMClass=com.github.bilelmoussaoui.Authenticator
